$prefix: '.drp_';
$mainFontSize: 12px;
$inputHeight: 30px;
$mainColor: #30708F;
$borderColor: #93908C;
$inputBorderRadius: 2px;
$mainTextColor: #565154;
$white: #FFFFFF;
$black: #000000;
$gray: #CCCCCC;
$errorColor: red;

$mainFont: "Open Sans";
