date-range-picker-popup {
  display: inline-block;
  overflow: visible;

  .container {
    position: relative;

    .picker {
      position: absolute;
      white-space: nowrap;
      overflow: visible;
      right: 0px;
      top: 25px;
      z-index: 10;
      background: white;
      border: 1px solid #CCCCCC;
      border-radius: 4px;
    }

    .picker::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 0;
      height: 0;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      border-bottom: 11px solid #CCCCCC;

      top: -11px;
      right: 9px;
    }

    .picker::after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid white;

      top: -10px;
      right: 10px;
    }
  }
}
