<div class="picker-dropdown-container" ng-class="{'open': dayPicker.isPickerVisible}">
  <input class="picker-input"
         ng-model="dayPicker.value"
         ng-click="dayPicker.showPicker()"/>
  <div class="picker" ng-show="dayPicker.isPickerVisible">
    <calendar class="calendar"
              api="dayPicker.calendarApi"
              min-day="dayPicker.minDay()"
              max-day="dayPicker.maxDay()"
              week-start="dayPicker.weekStart()"
              month="dayPicker._selectedDay"
              interceptors="dayPicker.calendarInterceptors"
              selected-day="dayPicker._selectedDay"
              min-month="dayPicker.startCalendar"
              week-days-name="dayPicker.weekDaysName()"
              month-format="dayPicker.monthFormat()"
              input-format="dayPicker.inputFormat()"
              label=""
              show-input="false">
    </calendar>
  </div>
</div>
