@import "../common/variables";

ob-daypicker {
  display: inline-block;
  overflow: visible;

  &.disabled {
    input {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .picker-dropdown-container {
    position: relative;

    .picker {
      position: absolute;
      top: $inputHeight - 1;
    }

    input {
      box-sizing: border-box;
      height: $inputHeight;
      width: 200px;
      line-height: $inputHeight;
      border: 1px solid $borderColor;
      border-radius: $inputBorderRadius;
      font-size: 14px;
      padding-left: 10px;
      outline: none
    }
  }

  &.center {
    .picker {
      right: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.right {
    .picker {
      left: auto;
      right: 0;
    }
  }
}
