<div class="container">
  <div class="picker-dropdown" ng-class="{'open': input.isPickerVisible}" ng-click="input.togglePicker()">
    <span>{{input.value}}</span>
  </div>
  <div class="picker" ng-class="{'open': input.isPickerVisible}" ng-show="input.isPickerVisible">
    <div class="date-range">
      <date-range-picker week-start="'mo'" range="input._range" format="input.format"></date-range-picker>
    </div>

    <div class="ranges-actions">
      <div class="ranges">
        <div class="range" ng-repeat="range in input.preRanges track by $index" ng-click="input.predefinedRangeSelected(range)">{{range.name}}</div>
      </div>

      <div class="actions">
        <button>Cancel</button>
        <button>Apply</button>
      </div>
    </div>
  </div>
</div>
