<div class="container">
  <div class="picker-dropdown" ng-class="{'open': input.isPickerVisible}" ng-click="input.togglePicker()">
    <span>{{input.value}}</span>
  </div>
  <div class="picker" ng-class="{'open': input.isPickerVisible}" ng-show="input.isPickerVisible">
    <div class="date-range" ng-show="input.isCustomVisable">
      <date-range-picker
        api="input.pickerApi"
        week-start="input.weekStart()"
        range="input._range"
        format="input.format" min-clickable-day="input.minClickableDay()"></date-range-picker>
    </div>

    <div class="ranges-actions" ng-class="{'custom-open': input.isCustomVisable}">
      <div class="ranges">
        <div class="range"
             ng-repeat="range in input.preRanges track by $index"
             ng-class="{'selected': input.selectedRengeIndex === $index}"
             ng-click="input.predefinedRangeSelected(range, $index)">{{range.name}}</div>
      </div>

      <div class="actions">
        <div class="btn cancel" ng-click="input.discardChanges()">Cancel</div>
        <div class="btn apply" ng-click="input.applyChanges()">APPLY</div>
      </div>
    </div>
  </div>
</div>
