$mainColor: #30708F;
$borderColor: #C4BFB9;
$actionBtnColor: #565154;

date-range-picker-input {
  display: inline-block;
  overflow: visible;
  font-family: "Helvetica Neue";

  .container {
    position: relative;

    .picker-dropdown {
      box-sizing: border-box;
      position: relative;
      width: 290px;
      height: 30px;
      line-height:30px;
      border: 1px solid $borderColor;
      border-radius: 2px;
      font-size: 14px;
      padding-left: 10px;

      &:hover {
        cursor: pointer;
      }

      &.open {
        border-radius: 2px 2px 0 0;
      }

      &:after {
        content: "";
        position: absolute;
        top: 10px;
        right: 10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 7px 0 7px;
        border-color: #000000 transparent transparent transparent;
      }
    }

    .picker {
      position: absolute;
      white-space: nowrap;
      overflow: visible;
      right: 0px;
      top: 30px;
      z-index: 10;
      background: white;
      border: 1px solid $borderColor;
      border-radius: 2px;

      &.open {
        border-radius: 0 0 2px 2px;
      }

      .date-range {
        padding: 10px;
        display: inline-block;
        border-right: 1px solid $borderColor;
      }
    }

    .ranges-actions {
      display: inline-block;
      vertical-align: top;
      padding: 10px;
      font-size: 12px;

      .ranges {
        .range {
          height: 27px;
          line-height: 27px;
          cursor: pointer;
          border-radius: 2px;
          padding: 0 5px;

          &:hover {
            background: $mainColor;
            color: #FFFFFF;
          }
        }
      }

      .actions {
        width: 150px;
        padding: 0 3px;
        margin-top: 10px;

        .btn {
          height: 27px;
          line-height: 27px;
          cursor: pointer;
          width: 70px;
          display: inline-block;
          text-align: center;

          &.cancel {
            text-decoration: underline;
            color: $actionBtnColor;
            margin-right: 5px;
          }

          &.apply {
            background: $actionBtnColor;
            color: #FFFFFF;
            border-radius: 2px;
            margin-left: 5px;
          }
        }
      }
    }
  }
}
