<!doctype html>
<html ng-app="demo" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <title>obDateRangePicker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/ob-daterangepicker.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body ng-controller="DemoController as main">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <style>
      .config {
        margin-bottom: 10px;
      }

      .section {
        display: inline-block;
        vertical-align: top;
        padding: 10px;
      }

      .label {
        display: block;
        font-weight: bold;
        width: 150px;
      }

      .input {
        height: 24px;
        font-size: 16px;
      }

      .radio-label {
        vertical-align: super;
      }

      .ob-datepicker-container {
        position: relative;
      }

      ob-daterangepicker {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

    </style>

    <div>
      <div class="section">
        <div class="config">
          <div class="label">Format</div>
          <input ng-model="main.format" class="input" ng-blur="main.render()" ng-keypress="main.render($event)">
        </div>

        <div class="config">
          <div class="label">Start-Day</div>
          <input ng-model="main.range.start" class="input" placeholder="{{main.format}}" ng-blur="main.render()" ng-keypress="main.render($event)">
        </div>

        <div class="config">
          <div class="label">End-Day</div>
          <input ng-model="main.range.end" class="input" placeholder="{{main.format}}" ng-blur="main.render()" ng-keypress="main.render($event)">
        </div>

        <div class="config">
          <div class="label">Min-Day</div>
          <input ng-model="main.min" class="input" placeholder="{{main.format}}" ng-blur="main.render()" ng-keypress="main.render($event)">
        </div>

        <div class="config">
          <div class="label">Max-Day</div>
          <input ng-model="main.max" class="input" placeholder="{{main.format}}" ng-blur="main.render()" ng-keypress="main.render($event)">
        </div>
      </div>

      <div class="section">
        <div class="config">
          <div class="label">Linked Calendars</div>
          <span class="radio-label">True:</span> <input type="radio" class="input" name="link" ng-model="main.linked" ng-value="true" ng-change="main.render()">
          <span class="radio-label">False:</span> <input type="radio" class="input" name="link" ng-model="main.linked" ng-value="false" ng-change="main.render()">
        </div>

        <div class="config">
          <div class="label">Week Starts At</div>
          <span class="radio-label">Su:</span> <input type="radio" class="input" name="start" ng-model="main.weekStart" value="su" ng-change="main.render()">
          <span class="radio-label">Mo:</span> <input type="radio" class="input" name="start" ng-model="main.weekStart" value="mo" ng-change="main.render()">
        </div>
      </div>
    </div>

    <div class="ob-datepicker-container">
      <ob-daterangepicker
        class=""
        min-day="main.min"
        max-day="main.max"
        linked-calendars="main.linked"
        api="main.dateRangeApi"
        on-apply="main.rangeApplied(start, end)"
        ranges="main.ranges"
        range="main.range"
        format="main.format"
        week-start="main.weekStart"></ob-daterangepicker>
    </div>
    <br/>
    <pre>{{main.range | json}}</pre>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials}) scripts/ob-daterangepicker.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

    <script>
      angular.module('demo', ['obDateRangePicker'])
        .controller('DemoController', DemoCtrl);

      function DemoCtrl() {
        var _this = this;
        this.weekStart = 'su';
        this.dateRangeApi = {};

        this.range = {
          start: moment(),
          end: moment()
        };

        this.format = 'DD-MM-YYYY';
        //this.min = '15/11/2015';
        //this.max = '16/11/2015';

        this.linked = true;

        this.ranges = [
          {
            name: 'Today',
            start: moment(),
            end: moment()
          },
          {
            name: 'Yesterday',
            start: moment().subtract(1, 'd'),
            end: moment().subtract(1, 'd')
          },
          {
            name: 'Current Month',
            start: moment().startOf('month'),
            end: moment()
          }
        ];

        this.rangeApplied = function(start, end) {
          console.log(start, end);
        };

        this.setDateRange = function() {
          _this.dateRangeApi.setDateRange({
            start: moment(),
            end: moment().add(2, 'd')
          });
        };

        this.render = function(e) {
          if(e) {
            e.keyCode == 13 && this.dateRangeApi.render();
          } else {
            _this.dateRangeApi.render()
          }
        }
      }
    </script>

  </body>
</html>
