@import "../common/variables";

$cellWidth: 35px;
$cellHeight: 28px;
$disabledDayColor: #E2DFDE;
$rangeColor: #97B7C7;

calendar {
  font-family: $mainFont;
  color: $mainTextColor;

  .input-container {
    position: relative;

    label {
      position: relative;
      top: 4px;
      display: inline-block;
      color: $mainTextColor;
      font-size: $mainFontSize;
    }

    input {
      position: absolute;
      right: 0;
      padding-left: 5px;
      box-sizing: border-box;
      width: 185px;
      height: 25px;
      font-size: $mainFontSize;
      outline: none;
      border: 1px solid $borderColor;
      border-radius: $inputBorderRadius;
    }
  }

  .header {
    position: relative;
    top: 22px;
    height: $cellHeight;
    background: $mainColor;
    color: $white;
    border: 1px solid $borderColor;
    border-radius: $inputBorderRadius $inputBorderRadius 0 0;

    .date {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }

    .arrow-btn {
      position: absolute;
      top: 0;
      width: $cellWidth;
      height: $cellHeight;
      cursor: pointer;

      &::before {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
      }

      &.left {
        left: 0;
        border-right: 1px solid $borderColor;

        &::before {
          border-width: 5px 10px 5px 0;
          border-color: transparent $white transparent transparent;
        }
      }

      &.right {
        right: 0;
        border-left: 1px solid $borderColor;
        &::before {
          border-width: 5px 0 5px 10px;
          border-color: transparent transparent transparent $white;
        }
      }
    }
  }

  .board {
    position: relative;
    top: 21px;
    white-space: nowrap;

    border: 1px solid $borderColor;
    border-radius: 0 0 $inputBorderRadius $inputBorderRadius;

    .cell {
      display: inline-block;
      height: $cellHeight;
      width: $cellWidth;
      line-height: $cellHeight;
      text-align: center;
      font-size: $mainFontSize;
    }

    .days-of-week {
      .day-name {
        @extend .cell;
        font-size: $mainFontSize;
        text-transform: uppercase;
      }
    }

    .day {
      @extend .cell;

      &:hover {
        cursor: pointer;
      }

      &.selected:not(.other-month):not(.disabled) {
        background: pink;
        color: $white;
      }

      &.current:not(.other-month) {
        font-weight: bold;
      }

      &.other-month {
        color: $disabledDayColor;
      }

      &.in-range:not(.other-month):not(.disabled) {
        background: $rangeColor;
        color: $white;
      }

      &.range-start:not(.other-month):not(.disabled) {
        background: $mainColor;
        border-top-left-radius: $inputBorderRadius;
        border-bottom-left-radius: $inputBorderRadius;
      }

      &.range-end:not(.other-month):not(.disabled) {
        background: $mainColor;
        border-top-right-radius: $inputBorderRadius;
        border-bottom-right-radius: $inputBorderRadius;
      }

      &.disabled {
        color: $disabledDayColor;
      }
    }
  }
}
