@import "../common/variables";

$cellWidth: 38px;
$cellHeight: 30px;
$disabledDayColor: #E2DFDE;
$rangeColor: #97B7C7;

calendar {
  font-family: $mainFont;
  color: $mainTextColor;

  .input-container {
    position: relative;

    label {
      position: relative;
      top: -3px;
      display: inline-block;
      color: $mainTextColor;
      font-size: $mainFontSize;
    }

    input {
      position: absolute;
      right: 0;
      padding-left: 5px;
      box-sizing: border-box;
      width: 200px;
      height: 20px;
      font-size: $mainFontSize;
      outline: none;
      border: 1px solid $borderColor;
      border-radius: $inputBorderRadius;
    }
  }

  .header {
    position: relative;
    height: $cellHeight;
    background: $mainColor;
    color: $white;
    border: 1px solid $borderColor;
    border-radius: $inputBorderRadius $inputBorderRadius 0 0;

    .date {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }

    .arrow-btn {
      position: absolute;
      top: 0;
      font-size: 10px;
      width: $cellWidth;
      height: $cellHeight;
      line-height: $cellHeight;
      text-align: center;
      cursor: pointer;

      &.left {
        left: 0;
        border-right: 1px solid $borderColor;
      }

      &.right {
        right: 0;
        border-left: 1px solid $borderColor;
      }
    }
  }

  .board {
    position: relative;
    top: -1px;
    white-space: nowrap;

    border: 1px solid $borderColor;
    border-radius: 0 0 $inputBorderRadius $inputBorderRadius;

    .cell {
      display: inline-block;
      height: $cellHeight;
      width: $cellWidth;
      line-height: $cellHeight;
      text-align: center;
      font-size: $mainFontSize;
    }

    .days-of-week {
      .day-name {
        @extend .cell;
        font-size: $mainFontSize;
        text-transform: uppercase;
      }
    }

    .day {
      @extend .cell;

      &:hover {
        cursor: pointer;
      }

      &.selected:not(.other-month):not(.disabled) {
        background: pink;
        color: $white;
      }

      &.current:not(.other-month) {
        font-weight: bold;
      }

      &.other-month {
        color: $disabledDayColor;
      }

      &.in-range:not(.other-month):not(.disabled) {
        background: $rangeColor;
        color: $white;
      }

      &.range-start:not(.other-month):not(.disabled) {
        background: $mainColor;
        border-top-left-radius: $inputBorderRadius;
        border-bottom-left-radius: $inputBorderRadius;
      }

      &.range-end:not(.other-month):not(.disabled) {
        background: $mainColor;
        border-top-right-radius: $inputBorderRadius;
        border-bottom-right-radius: $inputBorderRadius;
      }

      &.disabled {
        color: $disabledDayColor;
      }
    }
  }
}
